[Unit]
Description=Flowee Indexer
After=network.target

[Service]
User=flowee
Group=flowee
UMask=022

Type=simple
ExecStart=/usr/bin/indexer --conf=/etc/flowee/indexer.conf --datadir=/var/lib/flowee --bind=0.0.0.0:1234

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
