[Desktop Entry]
Encoding=UTF-8
Name=Flowee the Hub
Comment=Bitcoin P2P Cryptocurrency
Exec=bitcoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/bitcoincash;
Categories=Office;Finance;
