image: flowee/buildenv:debian

stages:
- build
- test
- deploy

variables:
  HUB_IMG: flowee/hub
  ZIP_SUFFIX: flowee-${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHORT_SHA}

#####  Debian stable

build-debian-stable:
  stage: build
  script:
    - mkdir build
    - cd build
    - cmake -Dbuild_tests=true -Denable_wallet=true -DCMAKE_BUILD_TYPE=ReleaseWithDebugInfo -DCMAKE_INSTALL_PREFIX=.. ..
    - echo nproc=`nproc`
    - make univalue leveldb
    - make -j0`nproc` install
  artifacts:
    paths:
    - bin
    - build/testing/*/test_*
    expire_in: 10 hrs

test_utxo:
  stage: test
  script:
    - build/testing/utxo/test_utxo
  dependencies:
  - build-debian-stable

test_prevector:
  stage: test
  script: build/testing/prevector/test_prevector
  dependencies:
  - build-debian-stable

test_doublespend:
  stage: test
  script: build/testing/doublespend/test_doublespend
  dependencies:
  - build-debian-stable

test_streaming:
  stage: test
  script: build/testing/streaming/test_streaming
  dependencies:
  - build-debian-stable

test_protocol:
  stage: test
  script: build/testing/bitcoin-protocol/test_protocol
  dependencies:
  - build-debian-stable

test_networkmanager:
  stage: test
  script: build/testing/networkmanager/test_networkmanager
  dependencies:
  - build-debian-stable

test_hashstorage:
  stage: test
  script: build/testing/hashstorage/test_hashstorage
  dependencies:
  - build-debian-stable

test_blockvalidation:
  stage: test
  script: build/testing/blockvalidation/test_blockvalidation
  dependencies:
  - build-debian-stable

#####  Static build (Linux)

build-static:
  image: flowee/buildenv:static
  stage: build
  script: build_static
  artifacts:
    paths:
    - bin
    - etc/flowee
    - systemd
    expire_in: 1 hrs

# how to create a .deb file TODO
# https://about.gitlab.com/2016/10/12/automated-debian-package-build-with-gitlab-ci/

flowee-linux.zip:
  stage: deploy
  script:
    - for i in bin/*; do strip $i; done
    - mkdir ${ZIP_SUFFIX}
    - mv bin etc systemd ${ZIP_SUFFIX}
  artifacts:
    name: ${ZIP_SUFFIX}
    paths:
    - ${ZIP_SUFFIX}
  dependencies:
  - build-static
  only:
    - master
    - "2019.05"

createHubDocker:
  stage: deploy
  script:
    - docker login -u flowee -p $DOCKER_TOKEN
    - mv bin support/docker/hub
    - docker build --tag=$HUB_IMG:${CI_COMMIT_REF_NAME} support/docker/hub
    - docker image push $HUB_IMG:${CI_COMMIT_REF_NAME}
  image: docker:latest
  services:
    - docker:dind
  dependencies:
    - build-static
  allow_failure: true

##### Build as standard as it gets.

build-debian-nowallet:
  stage: build
  script:
    - mkdir build
    - cd build
    - cmake -Denable_gui=false ..
    - make univalue leveldb
    - make -j0`nproc` all

